PB_PUBLISH_EMAIL=build@mechanyx.localhost
PB_PUBLISH_PASSWORD=jkLvC4GuZ09ZN3qCWbzfIEM2nw6yeti6
TAURI_KEY_PASSWORD=
TAURI_PRIVATE_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5eHVUelFXaXZmMXN1SEtPa3VPL0R6VjVzYkQ1Y2RubkZrRGZsMENiQm5mRUFBQkFBQUFBQUFBQUFBQUlBQUFBQVRweWNWZzZzc3loazVFd0N3YjNDNE1tQkpxd1kvWEh1RUg3U2MvTkEvTXA0VkRSZmsxNEZGeHovNEhKMFlRNUtBNTM3UnlIUmdvN3lCYjY2ZWFSNkVScmZZS1pOSE1NaTZlY0x4cW8xOFJJSVE5NjducTQxVFJQWXI4bjFjQ0tmdzk3bkFuV1ZydFE9Cg==
TAURI_PUBLIC_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IEQxQTAwNEIzNTMxNzUwRQpSV1FPZFRFMVN3QWFEWU4vQjVOVFRGNHhhRytDZU1ySFZrb0laNXo4MmZ2Y1BOZTBOemxQR0VIRQo=